@model BD_CDMS.Models.Car

@{
    ViewBag.Title = "Details";
}
<br />


<div style="position: relative; margin-bottom: 50px;">
    <div style="">
        <h2 style="position: center; left: 0; top: 0; margin-bottom: 50px" class="title">@Html.DisplayFor(model => model.Brand)  @Html.DisplayFor(model => model.Model)</h2>
        <br/>
        <br/>

    </div>
</div>
<div>

    <ul class="list-inline rent-offer">
        <li class="offer-item ">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Brand)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VIN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VIN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImagePath)
                    </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price) PLN
                </dd>


                <dt>
                    Car Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CarType.Type)
                </dd>

                <dt>
                    Engine
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Engine.Type)  @Html.DisplayFor(model => model.HP) HP
                </dd>

                <dt>
                    Gearbox
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gearbox.Type)
                </dd>

                <dt>
                    Salon
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DealershipSalon.Name)  @Html.DisplayFor(model => model.DealershipSalon.Address)  @Html.DisplayFor(model => model.DealershipSalon.PhoneNumber)
                </dd>

            </dl>

            @{
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark btn-sm" })

                if (System.Web.HttpContext.Current.User.IsInRole("Admin") || System.Web.HttpContext.Current.User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                }
            }
        </li>
        <li class="offer-item offer-image" style="background-image: url('../../Images/@Html.DisplayFor(model => model.ImagePath)');" />
        @*<li class="offer-item offer-image" style="background-image: url('../../Images/McLaren1.png');" />*@
    </ul>
    <p>
    </p>
</div>
