@model IEnumerable<BD_CDMS.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}



@*@using (Html.BeginForm())
    {*@
<p>
    @Html.DropDownList("searchEngine", "Select Engine");
    @Html.DropDownList("searchCarType", "Select CarType");
    @Html.DropDownList("searchGearbox", "Select Gearbox");
    Find by salon name: @Html.TextBox("searchSalon")
    Find by color: @Html.TextBox("searchColor")
    Find by brand: @Html.TextBox("searchBrand")
    Find by model: @Html.TextBox("searchModel")
    @*Find by gearbox: @Html.TextBox("searchGearbox")
    Find by engine: @Html.TextBox("searchEngine")
    Find by car type: @Html.TextBox("searchCarType")*@
    Min prise<input type="number" name="searchMinPrice" value="@ViewBag.searchMinPrice" step="0.01" id="searchMinPrice" />
    Max prise <input type="number" name="searchMaxPrice" value="@ViewBag.searchMaxPrice" step="0.01" id="searchMaxPrice" />
    @*<input type="submit" value="Search" />*@
</p>
@*}*@


<table class="table" id="resultsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealershipSalon.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealershipSalon.Name)
            </td>
            <td>
                @{
                    if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.Id }) |</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</li>
                    }

                    if (System.Web.HttpContext.Current.User.IsInRole("Seller"))
                    {
                        <li>@Html.ActionLink("Create Order", "Create", "Orders") |</li>
                        <li>@Html.ActionLink("Create Person", "CreateOrder", "People")</li>
                    }

                    if (System.Web.HttpContext.Current.User.IsInRole("Serviceman"))
                    {
                        @Html.ActionLink("Add feature", "IndexCar", "Features", new { id = item.Id }, new { @class = "btn btn-success" })
                    }
                }
            </td>
        </tr>
    }

</table>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#searchSalon,#searchColor,#searchBrand,#searchModel,#searchGearbox,#searchEngine,#searchCarType,#searchMinPrice,#searchMaxPrice").keyup(function (e) {
            var ss = $("#searchSalon").val();
            var sc = $("#searchColor").val();
            var sb = $("#searchBrand").val();
            var sm = $("#searchModel").val();
            var sg = $("#searchGearbox").val();
            var se = $("#searchEngine").val();
            var sct = $("#searchCarType").val();
            var sp1 = $("#searchMinPrice").val();
            var sp2 = $("#searchMaxPrice").val();

            $.get("/DealershipSalon/Index?searchSalon=" + ss + "&searchColor=" + sc + "&searchBrand=" + sb + "&searchModel=" + sm + "&searchGearbox=" + sg +
                "&searchEngine=" + se + "&searchCarType=" + sct + "&searchMinPrice=" + sp1 + "&searchMaxPrice=" + sp2, function (data) {
                    $("#resultsTable").html(data);
                });
        });

        $("#searchGearbox,#searchEngine,#searchCarType").change(function (e) {
            var ss = $("#searchSalon").val();
            var sc = $("#searchColor").val();
            var sb = $("#searchBrand").val();
            var sm = $("#searchModel").val();
            var sg = $("#searchGearbox").val();
            var se = $("#searchEngine").val();
            var sct = $("#searchCarType").val();
            var sp1 = $("#searchMinPrice").val();
            var sp2 = $("#searchMaxPrice").val();

            $.get("/DealershipSalon/Index?searchSalon=" + ss + "&searchColor=" + sc + "&searchBrand=" + sb + "&searchModel=" + sm + "&searchGearbox=" + sg +
                "&searchEngine=" + se + "&searchCarType=" + sct + "&searchMinPrice=" + sp1 + "&searchMaxPrice=" + sp2, function (data) {
                    $("#resultsTable").html(data);
                });
        });
    });


</script>