@model IEnumerable<BD_CDMS.Models.Car>

<table class="table" id="resultsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealershipSalon.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealershipSalon.Name)
            </td>
            <td>
                @{
                    if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <p>
                            <text data-toggle="popover" data-trigger="hover" title="Click to create a new order for this car">
                                @Html.ActionLink("Create Order", "Create", "Orders", null, new { @class = "btn btn-outline-success btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to add a new customer to the database, and then create a new order for this car">
                                @Html.ActionLink("Create Person", "CreateOrder", "People", null, new { @class = "btn btn-outline-success btn-sm" })
                            </text>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all features for this car">
                                @Html.ActionLink("Features", "IndexCar", "Features", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all details for this car">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" })
                            </text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                        </p>
                    }

                    if (System.Web.HttpContext.Current.User.IsInRole("Manager"))
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all features for this car">
                                @Html.ActionLink("Features", "IndexCar", "Features", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all details for this car">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" })
                            </text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                        </p>
                    }
                    if (System.Web.HttpContext.Current.User.IsInRole("Seller"))
                    {
                        <p>
                            <text data-toggle="popover" data-trigger="hover" title="Click to create a new order for this car">
                                @Html.ActionLink("Create Order", "Create", "Orders", null, new { @class = "btn btn-outline-success btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to add a new customer to the database, and then create a new order for this car">
                                @Html.ActionLink("Create Person", "CreateOrder", "People", null, new { @class = "btn btn-outline-success btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all features for this car">
                                @Html.ActionLink("Features", "IndexCar", "Features", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                            </text>
                            <text data-toggle="popover" data-trigger="hover" title="Click to display all details for this car">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" })
                            </text>
                        </p>
                    }

                    if (System.Web.HttpContext.Current.User.IsInRole("Serviceman"))
                    {
                        <p data-toggle="popover" data-trigger="hover" title="Click to display all features for this car">
                            @Html.ActionLink("Features", "IndexCar", "Features", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                        </p>
                    }
                }
            </td>
        </tr>
    }

</table>