
@{
    ViewBag.Title = "Charts";
}


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("SellsPerDate", "Index", new { selectedChart = "SellsPerDate" })</li>
        <li>@Html.ActionLink("IncomeForWeek", "Index", new { selectedChart = "IncomeForWeek" })</li>
        <li>@Html.ActionLink("SoldBrand", "Index", new { selectedChart = "SoldBrand" })</li>
        <li>@Html.ActionLink("Workers", "Index", new { selectedChart = "Workers" })</li>
    </ul>
</div>
<div style="text-align:center">
    <button class="btn btn-outline-dark" onclick="window.print()">Print this page</button>
    @Html.ActionLink("Generate PDF", "CreatePDF", null, new { @class = "btn btn-outline-dark" })
</div>

<div style="text-align:center">
    @{
        string chartPath = "Charts/" + ViewBag.selectedChart;

        if (chartPath != "Charts/")
        {
            <p><img src="@chartPath" /></p>
        }
        else
        {
            <h2>Select the chart to display</h2>
        }
    }
</div>
