@model IEnumerable<BD_CDMS.Models.Issue>

@{
    ViewBag.Title = "Index Admin";
}
<div style="position: relative; margin-bottom: 100px;">
    <div style="">
        <h2 style="position: absolute; left: 0; top: 0; margin-bottom: 100px" class="title">Admin issues</h2>
                <div style="position: absolute; right: 0; margin-top: 20px; padding: 5px; text-align: right">
                    <p data-toggle="popover" data-trigger="hover" title="Click to add new issue for some car">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                    </p>
                </div>
      
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReady)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.VIN)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReady)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.VIN)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" })

                @{
                    if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                        </p>
                    }
                }
            </td>
        </tr>
    }

</table>
