@model BD_CDMS.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>


    <h5>Car</h5>

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>

    </dl>


    <h5>Seller</h5>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>


    <h5>Client</h5>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Surname)
        </dd>

    </dl>
</div>
<p>
    @{
        if (System.Web.HttpContext.Current.User.IsInRole("Admin") || System.Web.HttpContext.Current.User.IsInRole("Seller"))
        {

            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

        }
    }
    @Html.ActionLink("Back to List", "Index")

</p>
